<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2">
    <% breadcrumbs.each_with_index do |breadcrumb, index| %>
      <li class="<%= index.zero? ? 'inline-flex items-center' : '' %>">
        <div class="flex items-center">
          <% unless index.zero? %>
            <svg class="w-3 h-3 text-light-positive mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
          <% end %>

          <% if breadcrumb.link? %>
            <%= link_to breadcrumb.name, 
                breadcrumb.path, 
                class: "text-white/50 hover:text-light-positive #{'inline-flex items-center' if index.zero?}" %>
          <% else %>
            <span class="text-white" aria-current="page">
              <%= breadcrumb.name %>
            </span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
</nav>
