<%= content_for :header do %>
  <%= render "shared/header", title: "Category Breakdown", back_path: expenses_path %>
<% end %>


<div class="flex flex-col items-center justify-center min-h-[60vh] text-center">

</div>
