.alert {
  padding: var(--alert-padding, 0.5em);
  border-radius: var(--alert-border-radius, 0.25em);
  color: var(--alert-color, var(--color-ink-reversed));
  background-color: var(--alert-background-color, var(--color-background));
  border: var(--alert-border, none);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: clamp(300px, 500px, 60vw);
  margin: 0;
  text-align: center;
  z-index: 1000;
  font-weight: 600;
}

.alert-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.alert-error {
  --alert-color: var(--color-ink-reversed);
  --alert-background-color: var(--color-red);
}

.alert-success {
  --alert-color: var(--color-ink-reversed);
  --alert-background-color: var(--color-green);
}
