* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--color-bg);
  font-family: 'Poppins', sans-serif;
}

body.landings {
  background-color: var(--color-landings-bg);
  overflow-x: hidden;
  position: relative;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-ink);

  svg {
    color: var(--color-ink);
    width: 2em;
    height: 2em;
    font-weight: 600;
  }
}

hr {
  width: 100%;
  border: none;
  border-top: 2px solid var(--color-positive);
  opacity: 0.5;
}
