* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--color-bg);
  font-family: 'Poppins', sans-serif;
  margin: 0 1em;
}

a {
  text-decoration: none;
  color: var(--color-ink);

  svg {
    color: var(--color-ink);
    width: 1.4em;
    height: 1.4em;
    font-weight: 600;
  }
}

.form {
  width: clamp(5rem, 100%, 800px);
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

hr {
  width: 100%;
  border: none;
  border-top: 2px solid var(--color-positive);
  opacity: 0.5;
}