:root {
  --button-size: 2.65em;
}

.btn {
  --transition: 300ms ease;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--btn-background, transparent);
  border: var(--btn-border, 1px solid var(--btn-border-color, var(--color-dark)));
  border-radius: var(--btn-radius, 2em);
  display: inline-flex;
  align-items: center;
  gap: var(--btn-gap, 0.5em);
  padding: var(--btn-padding, 0.5em 1em);
  color: var(--btn-color, var(--color-accent));
  width: fit-content;
  pointer-events: auto;
  transition:
    background-color var(--transition),
    color var(--transition),
    filter var(--transition),
    opacity var(--transition);

  &:hover {
    opacity: 0.8;
    filter: brightness(1.1);
  }

  &:has(a) {
    color: var(--btn-color);
  }

  &:has(svg) {
    color: var(--btn-color);

    svg {
      width: 1.2em;
      height: 1.2em;
      font-weight: 600;
    }
  }
  
  &:has(input[type=radio], input[type=checkbox]) {
    :is(input[type=radio], input[type=checkbox]) {
      block-size: calc(var(--btn-size));
      border-radius: var(--btn-border-radius);
      cursor: pointer;
      display: flex;
      inline-size: calc(var(--btn-size));
      margin: 0;
      padding: 0;
    }

    img.checked {
      display: none;
    }
  }

  &:has(input:checked)  {
    --btn-background: var(--color-accent);
    --btn-color: var(--color-ink);
    --outline-color: var(--color-ink);

    img {
      filter: invert(1);
    }

    @media (prefers-color-scheme: dark) {
      img {
        filter: invert(0);
      }
    }

    img.checked {
      display: block;
    }
  }
}

.btn-primary {
  --btn-background: var(--color-positive);
  --btn-color: var(--color-ink);
  --btn-border-color: var(--color-positive);
}

.btn-login {
  --btn-background: var(--color-positive);
  --btn-color: var(--color-ink);
  --btn-border-color: var(--color-positive);
  --btn-padding: 0.75em 1em;
  --btn-radius: 0.5em;
  width: 100%;
}

.btn-danger {
  --btn-background: var(--color-red);
  --btn-color: var(--color-ink);
  --btn-border-color: var(--color-red);
}

.btn-secondary {
  --btn-background: var(--color-accent);
  --btn-color: var(--color-ink);
  --btn-border-color: var(--color-accent);
}
.btn-dropdown {
  --btn-background: var(--color-positive);
  --btn-color: var(--color-ink);
  --btn-border-color: var(--color-positive);
  --btn-radius: 0.25em;
}
