:root {
  /* Named color values */
  --black: #000000;
  --white: #FFFFFF;
  --bg: #302D43;
  --bg-landings: #1b1733;
  --positive: #8e7ff5;
  --accent: #CD4FF7;
  --secondary-accent: #FDE047;
  --dark: #171421;
  --green: #7ff58e;
  --red: #d40f0f;
  --light-positive: #aba1f0;
  /* Abstractions */
  --color-bg: var(--bg);
  --color-positive: var(--positive);
  --color-accent: var(--accent);
  --color-dark: var(--dark);
  --color-green: var(--green);
  --color-red: var(--red);
  --color-light-positive: var(--light-positive);
  --color-landings-bg: var(--bg-landings);
  --color-secondary-accent: var(--secondary-accent);
  /* Text */
  --color-ink: var(--white);
  --color-ink-reversed: var(--black);
}

:root[data-theme="light"] {
  --bg: #e5dbfc;
  --bg-landings: #1b1733;
  --positive: #6B4EE6;
  --accent: #9B30BD;
  --secondary-accent: #FDE047;
  --dark: #FFFFFF;
  --green: #2E9D4E;
  --red: #D32F2F;

  /* Text */
  --white: #302D43;
  --black: #FFFFFF;
}
