.expense__card {
  background-color: var(--color-dark);
  border-radius: 0.75em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 1.5em;
  margin-bottom: 1em;
}

.expense__title {
  font-size: 1.5em;
  text-wrap: balance;
  font-weight: bold;
  color: var(--color-positive);
  overflow-wrap: break-word;
  hyphens: auto;
}

.expense__amount-value {
  font-size: 2em;
  font-weight: bold;
  color: var(--color-accent);
}

.expense__amount-symbol {
  font-weight: bold;
  font-size: 1.2em;
  width: 2em;
  height: 2em;
}

.expense-gain {
  color: var(--color-green);
}
.expense-loss {
  color: var(--color-red);
}

.expense__details {
  display: flex;
  justify-content: space-between;
  font-size: 0.875em;
  color: var(--color-ink);
  opacity: 0.8;
  margin: 1em 0;
}

.expense__category {
  background-color: var(--color-dark);
  color: var(--color-ink);
  padding: 0.375em 0.75em;
  border-radius: 0.5em;
  border: 1px solid var(--color-positive);
  font-size: 0.875em;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.03125em;
}

.amount-unit {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-ink);
}