@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Light.ttf') format('truetype');
  font-display: auto ;
  font-weight: 200;
}
@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.ttf') format('truetype');
  font-display: auto ;
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('Poppins-SemiBold.ttf') format('truetype');
  font-display: auto ;
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Bold.ttf') format('truetype');
  font-display: auto ;
  font-weight: 800;
}