/* Text Inputs */
input, select {
  margin: var(--input-margin, 1.2em 0);
  padding: var(--input-padding, 1em 1.5em);
  border: none;
  border-radius: var(--input-radius, 0.25em);
  background-color: var(--color-bg);
  color: var(--color-ink);
}
