:root {
  --responsive-size: clamp(2em, 6vw, 8em);
  --responsive-size-small: clamp(1.5em, 3vw, 4em);
  --responsive-size-x-small: clamp(1.5em, 2vw, 3em);
  --responsive-size-xx-small: clamp(1em, 1.2vw, 1.8em);
  --responsive-image-size: clamp(10em, 40vw, 800px);
}
.highlight-text {
  background-color: var(--color-secondary-accent);
  color: var(--color-accent);
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  font-weight: 600;
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--inline-space-double);
  padding: var(--block-space) var(--inline-space-double);
  width: 100%;

  .nav__logo {
    font-size: var(--responsive-size-x-small);
    font-weight: 600;
    flex: 1;
  }
  
  .nav__links {
    display: flex;
    align-items: center;
    gap: var(--inline-space);
    font-size: var(--responsive-size-xx-small);
  }
  
  .nav__menu {
    width: 2em;
    height: 2em;
    cursor: pointer;
  }

  .nav__responsive-menu-links {
    display: none;
  }
}


.hero {
  padding: var(--block-space) var(--inline-space-double);
  margin: var(--block-space) 0;


  .hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--block-space);
  }

  .hero__title {
    font-size: var(--responsive-size);
    font-weight: 800;
    line-height: 1.25;
  }

  .hero__description {
    font-size: var(--responsive-size-small);
    font-weight: 400;
    line-height: 1.1;
  }

  .hero__subtitle {
    font-size: var(--responsive-size-small);
    font-weight: 800;
    max-width: 80%;
  }

  .hero__button-container {
    max-width: 500px;
    margin-left: 1em;
    border-radius: 0.2em;
    font-size: var(--responsive-size-small);
    text-wrap: nowrap;
  }

  .hero__image-container {
    position: relative;
    width: 90%;
    margin-top: var(--block-space-double);
    padding: var(--block-space);

    .hero__image {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

}

.image-container {
  display: none;
}

.image-container__images {
  position: relative;
}

.image {
  width: var(--responsive-image-size);
  position: absolute;
  top: 0;
  right: 0;
}

.image_stacked_first {
  z-index: 100;
  box-shadow: 0 0 10px rgba(248, 239, 239, 0.1);
}

.image_stacked_second {
  transform: rotate(-5deg) translateY(10%);
  z-index: 4;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.btn-hero {
  --btn-radius: 0.25em;
}

.btn-call-to-action {
  --btn-background: var(--color-accent);
  --btn-color: var(--color-ink);
  --btn-border-color: var(--color-accent);
  --btn-radius: 0.15em;
}

@media (min-width: 800px) {

  .hero__image-container {
    display: none;
  }

  .image-container {
    width: 100%;
    position: absolute;
    right: -100px;
    top: 0;
    display: block;
  }

  .image-container__images {
    position: relative;
  }

  .image {
    height: auto; 
    width: auto; 
    max-width: var(--responsive-image-size); 
    max-height: var(--responsive-image-size);
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .image_stacked_first {
    transform: translateY(25%) rotate(-10deg);
    z-index: 100;
    box-shadow: 0 0 10px rgba(248, 239, 239, 0.1);
  }

  .image_stacked_second {
    transform: translateY(35%) rotate(-20deg);
    z-index: 4;
  }

  .nav {
    .nav__responsive-menu-links {
      display: flex;
      gap: var(--inline-space);
      align-items: center;
    }

    .nav__hamburger {
      display: none;
    }
  }

  .hero {
    .hero__title {
      max-width: 70%;
    }

    .hero__description {
      max-width: 50%;
    }

    .hero__content {
      position: relative;
      display: block;
    }
  }
}

@media (min-width: 1024px) {
}