#container {
  margin: 0 1em;
  display: grid;
  grid-template-columns: minmax(400px, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header . . ."
    "analytics . . ."
    "main . . ."
    "footer . . .";
  row-gap: 2em;
}

#header {
  grid-area: header;
}

#analytics {
  grid-area: analytics;
}

#main {
  max-width: 100%;
  grid-area: main;
}

#footer {
  grid-area: footer;
}

@media (min-width: 650px) {
  #container {
    grid-template-columns: 1fr minmax(650px, 1fr) 1fr;
    justify-content: center;
    grid-template-areas:
      ". header ."
      ". analytics ."
      ". main ."
      ". footer .";
  }
}